/*document selectors*/

  html,
  body {
    margin: auto;
    padding: 0px;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
  }

/*myheader */

  header {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  }

  .main-menu ul {
    margin: 0;
    margin-left: 100px;
    padding: 0;
    list-style: none;
  }

  .main-menu li {
    display: inline-block;
    margin-right: 1em;
  }

  .main-menu li:hover {
    background-color: #b3ccff;
  }

  .dropbtn {
    text-decoration: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {background-color: #f1f1f1}

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dashed {
    text-decoration: none;
    color: #0088cc;
    border-bottom: 1px dashed #0088cc;
  }  

  .logo {
    position: absolute;
    top: 15px;
    left: 20px;
    margin: 0;
    z-index: 1;
  }

  .shadow-drop-br:hover {
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
  }

/*mylist*/

  .mylist {
    padding: 20px;
    color: white;
    background-color: #6B5B95;
    background-image: url("list.jpg");
    background-repeat: no-repeat;
    background-position: right;
    border-radius: 10px;
  }

  .ullist {
    background-image: linear-gradient(to right, black, transparent);
    opacity: 0.5;
  }

  .pianzina {
    text-shadow: 0px 5px 25px #666699;
  }

  .myaudio {

  }

/*mypost*/

  .mypost {
    padding: 20px;
    text-align: left;
    background-color: #485167;
    border-radius: 10px;
  }

  .mypost header {
    background-color: white;
    width: 311px;
    box-shadow: 0 0 5px #999999;
  }

  .mypost header h2 {
    margin: 0;
  }

  .mypost header time {
    font-size: 11px;
    color: #999999;
  }

  .mypost .content {
    min-height: 200px;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .mypost figure {
    position: relative;
    width: 350px;
    margin: 20px 0px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 5px #999999;
  }

  .mypost figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 15px 5%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
  }

  .mypost img {
    display: block;
    max-width: 100%;
  }

/*mytable*/

  .mytable {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    background-image: url('car.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  .mytable:hover {
    background-image: url('https://cdn.dribbble.com/users/32512/screenshots/4500244/sf7_white_auto_driving_by_gleb.gif');
    
  }

  table {
    display: table;
    margin: auto;
    border-collapse: collapse;
    border: 2px dotted #BCBCBE;
    width: auto;
    color: lightgray;
  }

  caption {
    caption-side: top;
    text-align: left;
  }

  th {
    border: 1px solid black;
    padding: 10px;
  }

  td {
    border: 1px solid black;
    padding: 5px;
    padding-right: 15px;
    text-align: center;
  }

  .fillintable {
    background-color: white;
    opacity: 0.6;
    color: black;
  }

/*mylogin*/

  .mylogin {
    padding: 20px;
    text-align: left;
    border-radius: 10px;

    background-color: #91A8D0;
    background-image: url('login.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  input[type="text"],
  input[type="password"] {
    border: 1px solid #ccc;
    padding: 4px 5px;
    background: white;
    margin-top: 0.5em;
    width: 180px;
    border-radius: 5px;
  }

  form input:focus {
    border-color: #0088cc;
  }

  input[type="submit"] {
    display: block;
    padding: 5px 15px;
    color: #333;
    background: white;
    border: none;
    margin-top: 2em;
  }

  #login {
    background:#f5f5f5;
    border-radius: 10px;
    padding: 20px;
    opacity: 0.8;
  }

  label {
    display: block;
  }

/*mytext*/

  .mytext {
    padding: 20px;
    text-align: left;
    border-radius: 10px;

    background-color: #b3c6ff;
  }

/*mytheme*/

  .mytheme {
    padding: 20px;
    text-align: left;
    border-radius: 10px;

    background-color: #99ccff;
  }

  select {
    border: 1px solid #ccc;
    padding: 4px 5px;
    background: white;
  }

/*myfooter */

  footer.myfooter {
    padding: 20px;
    min-height: 30px;
    color: white;
    background-color: #2F343B;
    border-radius: 10px;
    background-image: url("cat.png");
    background-position: 50% 100%;
    background-size: auto 40px;
    background-repeat: no-repeat;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  }

  .myfooter .info {
    float: left;
    font-size: 0.9em;
  }

  .myfooter .copyright {
    float: right;
    font-size: 0.9em;
  }

  .info, .copyright {
    position: relative;
    top: 5px;
  }

/*grid*/

  @media screen and (max-width: 1024px) {

    header, .mylist, .mypost, .mytable, .mylogin, .mytext, .mytheme, footer.myfooter {
      border-radius: 0;
    }

    header {
      min-height: 40px;
    }

    .main-menu {
      position: absolute;
      top: 25px;
    }

    #login {
      position: relative;
      width: 200px;
      left: 50%;
      margin-left: -100px;
    }

  }

  @media screen and (min-width: 1440px) {

    body {
      max-width: 1440px;
    }

    .logo {
      left: auto;
    }

    .login {

    }
  }

  @supports (display: grid) {
    @media screen and (min-width: 1024px) {

      .site {
        display: grid;
        padding: 10px;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.16fr 1fr 1fr 1fr 0.16fr;
        grid-template-areas:
          "myheader myheader myheader myheader"
          "mylist mylist mypost mypost"
          "mytable mytable mylogin mylogin"
          "mytext mytext mytheme mytheme"
          "myfooter myfooter myfooter myfooter";
        }

      .myheader {
        grid-area: myheader;
        grid-column: 1/5;
        grid-row: 1/2;
      }

      .mylist {
        grid-area: mylist;
        grid-column: 1/3;
        grid-row: 2/3;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        position: relative;
      }

      .mypost {
        grid-area: mypost;
        grid-column: 3/5;
        grid-row: 2/3;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        position: relative;
      }

      .mytable {
        grid-area: mytable;
        grid-column: 1/3;
        grid-row: 3/4;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        position: relative;
      }

      .mylogin {
        grid-area: mylogin;
        grid-column: 3/5;
        grid-row: 3/4;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        position: relative;
      }

      #login {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .mytext {
        grid-area: mytext;
        grid-column: 1/3;
        grid-row: 4/5;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        position: relative;
      }

      .mytheme {
        grid-area: mytheme;
        grid-column: 3/5;
        grid-row: 4/5;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        position: relative;
      }

       .myfooter {
        grid-area: myfooter;
        grid-column: 1/5;
        grid-row: 5/6;
      }
    }
  }